.button{
	width:75px;
	height:30px;
	background:#008BCB;
	color:white;
	border-right:1px solid #008BCB;
	border-top:1px solid #008BCB;
	border-bottom:1px solid #008BCB;
	margin-left:10%;
	cursor:pointer;
	cursor:hand;
}
